{{define "converters_main"}}

    func {{PkgNameUC}}RequestsFromProto(pb *proto.{{ProtoName}}) *{{PkgNameUC}}{

    }
    func {{PkgNameUC}}DailyFromProto(pb *proto.{{ProtoName}}) *{{PkgNameUC}}{

    }


    func {{PkgNameUC}}ToProto(){}

{{end}}



